<body onload="pageLoaded()">
    <div class="container">

        <form action="/book/adminbookupdate/<%=book.id%>" method="POST" autocomplete="on">
            <div class="form-group row">
                <div class="col-xl-6 col-form-label">
                    <label>書本種類:</label>
                    <input type="text" class="form-control" name="Book[category]" value="<%= book.category %>" list="optionlist" required>
                    <datalist id="optionlist">
                        <option value="成長系列">成長系列</option>
                        <option value="哀傷">哀傷</option>
                        <option value="家庭關係">家庭關係</option>
                        <option value="情緒教育">情緒教育</option>
                    </datalist>
                    
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>編號:</label>
                    <input type="text" class="form-control" name="Book[no]" value="<%= book.no %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>書名:</label>
                    <input type="text" class="form-control" name="Book[bookname]" value="<%= book.bookname %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>作者/機構:</label>
                    <input type="text" class="form-control" name="Book[author]" value="<%= book.author %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>出版年份:</label>
                    <input type="number" class="form-control" name="Book[year]" value="<%= book.year %>" required>
                </div>

                <div class="col-xl-6 col-form-label">
                    <label>位置:</label>
                    <input type="text" class="form-control" name="Book[location]]" value="<%= book.location %>"
                        >
                </div>

                <button type="submit" class="btn btn-primary center">修改</button>
            </div>

        </form>


        <nav class="bottomnav fixed-bottom">
            <a href="/item/adminindex" class="nav__link">
                <i class="material-icons">
                    home
                </i>
                <span class="nav__text">主頁</span>
            </a>
            <a href="/item/adminsearch" class="nav__link nav__link--active">
                <i class="material-icons">
                    search
                </i>
                <span class="nav__text">搜尋</span>
            </a>
            <a href="/item/adminnoti" class="nav__link">
                <i class="material-icons">
                    email
                </i>
                <span class="nav__text">通知</span>
            </a>
            <a href="/item/adminaccount" class="nav__link">
                <i class="material-icons">
                    account_circle
                </i>
                <span class="nav__text">帳戶</span>
            </a>
        </nav>
    </div>

    </div>
</body>

<script>
    var a = document.querySelector('option[value="<%=book.category%>" ]'); a.selected = "selected"; </script>