<body onload="pageLoaded()">


    <div class="container">
        <div class="row">
            <div class="card col-xl-6">
                <img class="responsive" src=<%=gift.avatar %>>
            </div>
            <div class="card col-xl-6">
                <table class="table">
                    <tr>
                        <th id="detail" scope="row">位置:
                            <%= gift.location%>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">名稱:
                            <%= gift.giftname %>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">類型:
                            <%=gift.category %>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">現有數量:
                            <%= gift.amount%>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">單價價值(HKD): $
                            <%= gift.value%>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">捐贈者:
                            <%=gift.donator%>
                        </th>
                    </tr>
                    <tr>
                        <th id="detail" scope="row">備註:
                            <%=gift.remark %>
                        </th>
                    </tr>
                </table>

            </div>
        </div>
    </div>


    <br>
    <div class="container">
        <div class="row">
            <div class=" col-6 col-sm-6">
                <a href="/gift/admingiftupdate/<%=gift.id%>">
                    <button type="submit" class="changebutton">修改</button>
                </a>
            </div>

            <div class=" col-6 col-sm-6">
                <!-- <form action="/gift/admingiftdelete/<%=gift.id%>" method="POST"> -->
                    <button type="submit" class="deletebutton" onclick="deleteGift('<%= gift.id %>')">
                        刪除
                    </button>

                <!-- </form> -->
            </div>
        </div>
    </div>
    <br>

    <!-- <button type="submit" class="btn btn-primary center">即時借取</button>
    <br>
    <button type="submit" class="btn btn-primary center">預訂</button> -->

    <nav class="bottomnav fixed-bottom">
        <a href="/item/adminindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/adminsearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/adminnoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/adminaccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
    </div>
</body>

<script>

    async function deleteGift(id) {

        var r = confirm("確認刪除?");

        if (r) {

            var response = await fetch("/gift/admingiftdelete/" + id, {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("取消");
        }

    };

</script>